.app {
  width: 100%;
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  background: rgb(255, 245, 157);
  background: linear-gradient(
    45deg,
    rgba(255, 214, 0, 1) 0%,
    rgba(255, 245, 157, 1) 100%
  );
  display: flex;
  flex-direction: column;
}

.app.dark {
  background: rgb(3, 0, 46);
  background: linear-gradient(45deg, rgba(3, 0, 46, 1) 0%, rgba(1, 0, 87, 1) 100%);
  color: #8c9afd;
}
