.add {
  position: relative;
  display: block;
  background-color: transparent;
  font-size: 18px;
  padding: 4px 8px;
  cursor: pointer;
  border: 3px solid black;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  transition: 0.2s ease;
}

.add.dark {
  border: 3px solid #8c9afd;
  box-shadow: 0 0 5px #8c9afd;
  color: #8c9afd;
}

.add:hover {
  box-shadow: 0 0 10px black;
}

.add.dark:hover {
  box-shadow: 0 0 10px #8c9afd;
}

.add__iconContainer {
  flex-basis: 33.34%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add__iconSmall {
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  box-shadow: 0 0 3px 1px #209e00;
  transition: 0.2s ease;
}

.add__iconSmall.dark {
  box-shadow: 0 0 3px 1px #c524ff;
}

.add__icon {
  color: #209e00;
}

.add__icon.dark {
  color: #c524ff;
}

.add__iconSmall:hover {
  width: 35px;
  height: 35px;
  font-size: 35px;
}

.add__background {
  display: none;
}

.add__active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 2;
}

.add__modal {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 60vh;
  background: rgb(255, 245, 157);
  background: linear-gradient(
    45deg,
    rgba(255, 214, 0, 1) 0%,
    rgba(255, 245, 157, 1) 100%
  );
  box-shadow: 0 0 2px 2px black;
}

.add__modal.dark {
  background: rgb(3, 0, 46);
  background: linear-gradient(45deg, rgba(3, 0, 46, 1) 0%, rgba(1, 0, 87, 1) 100%);
  box-shadow: 0 0 2px 2px #8c9afd;
}

.add__modalTitle {
  text-align: center;
  color: black;
}

.add__modalTitle.dark {
  color: #8c9afd;
}

.add__form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.add__container {
  margin: 2vh 10px 0 30px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add__label {
  flex-basis: 30%;
  font-weight: bold;
}

.add__input {
  flex-grow: 1;
  background-color: transparent;
  border: 2px solid black;
  box-shadow: 0 0 2px black;
  border-radius: 10px;
  height: 20px;
  transition: 0.2s ease;
}

.add__input.dark {
  border: 2px solid #8c9afd;
  box-shadow: 0 0 2px #8c9afd;
  color: #8c9afd;
}

.add__input:hover {
  box-shadow: 0 0 5px black;
}

.add__input.dark:hover {
  box-shadow: 0 0 7px #8c9afd;
}

.add__input:focus {
  box-shadow: 0 0 5px black;
}

.add__input.dark:focus {
  box-shadow: 0 0 7px #8c9afd;
}

.add__description {
  height: 30px;
}

.add__priority {
  box-shadow: none;
  border: none;
  flex-grow: 1;
  margin: 0;
}

.add__priority.dark {
  box-shadow: none;
  border: none;
  flex-grow: 1;
  margin: 0;
}

.add__priority.dark:hover {
  box-shadow: none;
}

.add__priority.dark:focus {
  box-shadow: none;
}

.add__priority {
  height: 24px;
  -webkit-appearance: none;
}
.add__priority:focus {
  outline: none;
}
.add__priority::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #fff9c4;
  border-radius: 1px;
}

.add__priority.dark::-webkit-slider-runnable-track {
  background: #090088;
}

.add__priority::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ff4747;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

.add__priority.dark::-webkit-slider-thumb {
  background: #c2c9ff;
}

.add__priority:focus::-webkit-slider-runnable-track {
  background: #fff9c4;
}

.add__priority.dark:focus::-webkit-slider-runnable-track {
  background: #090088;
}

.add__priority::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #fff9c4;
  border-radius: 1px;
}

.add__priority.dark::-moz-range-track {
  background: #090088;
}

.add__priority::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ff4747;
  cursor: pointer;
}

.add__priority.dark::-moz-range-thumb {
  background: #c2c9ff;
}

.add__priority::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
}

.add__priority::-ms-fill-lower {
  background: #fff9c4;
  border-radius: 2px;
}

.add__priority.dark::-ms-fill-lower {
  background: #090088;
}

.add__priority::-ms-fill-upper {
  background: #fff9c4;
  border-radius: 2px;
}

.add__priority.dark::-ms-fill-upper {
  background: #090088;
}

.add__priority::-ms-thumb {
  margin-top: 1px;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ff4747;
  cursor: pointer;
}

.add__priority.dark::-ms-thumb {
  background: #c2c9ff;
}

.add__priority:focus::-ms-fill-lower {
  background: #fff9c4;
}

.add__priority.dark:focus::-ms-fill-lower {
  background: #090088;
}

.add__priority:focus::-ms-fill-upper {
  background: #fff9c4;
}

.add__priority.dark:focus::-ms-fill-upper {
  background: #090088;
}

.add__priority:hover {
  box-shadow: none;
}

.add__priority:focus {
  box-shadow: none;
}

.add__deadline {
  height: 22px;
}

.add__deadline::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.add__deadline.dark::-webkit-calendar-picker-indicator {
  background-color: #8c9afd;
  border: 2px solid #8c9afd;
  box-shadow: 0 0 2px 2px #8c9afd;
}

.add__deadline.dark::-webkit-calendar-picker {
  background-color: #090088;
}

.add__inputError {
  font-size: 14px;
  color: red;
  font-weight: normal;
  text-align: right;
  margin-top: 3px;
  display: block;
  width: 100%;
  text-align: center;
}

.add__btn {
  margin-top: 2vh;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  border: 2px solid black;
  box-shadow: 0 0 2px black;
  border-radius: 10px;
  padding: 3px 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.add__btn.dark {
  border: 2px solid #8c9afd;
  color: #8c9afd;
}

.add__btn:hover {
  box-shadow: 0 0 5px black;
  background-color: #f9a825;
}

.add__btn.dark:hover {
  box-shadow: 0 0 7px #8c9afd;
  background-color: #090088;
  color: #c2c9ff;
}

.add__message {
  display: block;
  width: 100%;
  text-align: center;
}

i {
  font-size: 30px;
  color: black;
}

.add__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: #ff4747;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 0 2px 1px #ff4747;
}

.add__close.dark {
  background-color: rgb(206, 0, 0);
  box-shadow: 0 0 2px 1px rgb(206, 0, 0);
}

.add__close:hover {
  box-shadow: 0 0 2px 2px #ff4747;
}

.add__close.dark:hover {
  box-shadow: 0 0 2px 2px rgb(206, 0, 0), inset 0 0 1px 1px rgb(206, 0, 0);
}

.add__closeIcon {
  font-size: 25px;
}

@media (max-width: 549.98px) {
  .add__iconContainer {
    flex-basis: 100%;
    order: 1;
  }
}

@media (max-width: 449.98px) {
  .add__iconContainer {
    margin-top: 5px;
  }
}

@media (max-width: 1149.98px) {
  .add__modal {
    width: 35vw;
  }
}

@media (max-width: 979.98px) {
  .add__modal {
    width: 44vw;
  }
}

@media (max-width: 809.98px) {
  .add__modal {
    width: 52vw;
  }
}

@media (max-width: 649.98px) {
  .add__modal {
    width: 65vw;
  }
}

@media (max-width: 539.98px) {
  .add__modal {
    width: 79vw;
  }
}

@media (max-width: 429.98px) {
  .add__modal {
    width: 96vw;
  }

  .add__container {
    margin-left: 1vw;
  }

  .add__modal {
    height: 70vh;
  }
}

@media (max-height: 619.98px) {
  .add__modal {
    height: 65vh;
  }
}

@media (max-height: 559.98px) {
  .add__modal {
    height: 70vh;
  }
}

@media (max-height: 499.98px) {
  .add__modal {
    height: 80vh;
  }
}

@media (max-height: 429.98px) {
  .add__modal {
    height: 90vh;
  }
}

@media (max-height: 369.98px) {
  .add__modal {
    height: 96vh;
  }

  .add__modalTitle {
    margin-bottom: 3px;
  }

  .add__container {
    margin-top: 1.5vh;
  }
}
