.delete {
  color: black;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.75);
  box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.75);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.delete.dark {
  background-color: transparent;
  color: rgba(255, 0, 0, 0.85);
  box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.85), inset 0 0 3px 1px rgba(255, 0, 0, 0.85);
}

.delete:hover {
  box-shadow: 0 0 3px 3px rgba(255, 0, 0, 0.75);
}

.delete.dark:hover {
  box-shadow: 0 0 3px 3px rgba(255, 0, 0, 0.85), inset 0 0 3px 1px rgba(255, 0, 0, 0.85);
}

.delete__small {
  color: black;
  font-size: 20px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.75);
  box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.75);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.delete__small.dark {
  background-color: transparent;
  color: rgba(255, 0, 0, 0.85);
  box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.85), inset 0 0 3px 1px rgba(255, 0, 0, 0.85);
}

.delete__small:hover {
  box-shadow: 0 0 3px 3px rgba(255, 0, 0, 0.75);
}

.delete__small.dark:hover {
  box-shadow: 0 0 3px 3px rgba(255, 0, 0, 0.85), inset 0 0 3px 1px rgba(255, 0, 0, 0.85);
}
