.bar {
  width: 98%;
  margin: 0 auto;
  margin-top: 2vh;
  display: flex;
  padding: 2px 0 2px 0;
  text-align: center;
  border: 2px solid black;
  font-weight: bold;
}

.bar.dark {
  border: 2px solid #8c9afd;
}

.bar__deadline {
  flex-basis: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar__beginDate {
  flex-basis: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar__priority {
  flex-basis: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar__title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar__empty {
  flex-basis: 21%;
}

@media (max-width: 899.98px) {
  .bar {
    font-size: 20px;
  }
}

@media (max-width: 799.98px) {
  .bar__beginDate,
  .bar__deadline {
    flex-basis: 15%;
  }

  .bar__empty {
    flex-basis: 7%;
  }
}

@media (max-width: 649.98px) {
  .bar__beginDate,
  .bar__deadline {
    flex-basis: 17%;
  }

  .bar__priority {
    flex-basis: 5%;
  }

  .bar__empty {
    flex-basis: 7%;
  }
}

@media (max-width: 549.98px) {
  .bar {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .bar__title {
    flex-basis: 100%;
  }

  .bar__empty {
    flex-basis: 9%;
  }

  .bar__priority {
    flex-basis: 9%;
  }

  .bar__beginDate,
  .bar__deadline {
    flex-basis: 40%;
  }
}
