.edit {
  color: black;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #63beff;
  box-shadow: 0 0 3px 1px #63beff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.edit.dark {
  background-color: transparent;
  box-shadow: 0 0 3px 1px rgba(99, 190, 255, 0.8),
    inset 0 0 3px 1px rgba(99, 190, 255, 0.8);
  color: rgba(99, 190, 255, 0.8);
}

.edit:hover {
  box-shadow: 0 0 3px 3px #63beff;
}

.edit.dark:hover {
  box-shadow: 0 0 3px 3px rgba(99, 190, 255, 0.8),
    inset 0 0 3px 1px rgba(99, 190, 255, 0.8);
}

.edit__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 60vh;
  z-index: 3;
  background: rgb(255, 245, 157);
  background: linear-gradient(
    45deg,
    rgba(255, 214, 0, 1) 0%,
    rgba(255, 245, 157, 1) 100%
  );
  box-shadow: 0 0 2px 2px black;
}

.edit__modal.dark {
  background: rgb(3, 0, 46);
  background: linear-gradient(45deg, rgba(3, 0, 46, 1) 0%, rgba(1, 0, 87, 1) 100%);
  box-shadow: 0 0 2px 2px #8c9afd;
}

.edit__background {
  display: none;
}

.edit__active {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.edit__modalTitle {
  text-align: center;
  color: black;
}

.edit__modalTitle.dark {
  color: #8c9afd;
}

.edit__form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.edit__container {
  margin: 2vh 10px 0 30px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit__label {
  flex-basis: 30%;
  font-weight: bold;
}

.edit__input {
  flex-grow: 1;
  background-color: transparent;
  border: 2px solid black;
  box-shadow: 0 0 2px black;
  border-radius: 10px;
  height: 20px;
  transition: 0.2s ease;
}

.edit__input.dark {
  border: 2px solid #8c9afd;
  box-shadow: 0 0 2px #8c9afd;
  color: #8c9afd;
}

.edit__input:hover {
  box-shadow: 0 0 5px black;
}

.edit__input.dark:hover {
  box-shadow: 0 0 7px #8c9afd;
}

.edit__input:focus {
  box-shadow: 0 0 5px black;
}

.edit__input.dark:focus {
  box-shadow: 0 0 7px #8c9afd;
}

.edit__description {
  height: 30px;
}

.edit__priority {
  box-shadow: none;
  border: none;
  flex-grow: 1;
  margin: 0;
}

.edit__priority.dark {
  box-shadow: none;
  border: none;
  flex-grow: 1;
  margin: 0;
}

.edit__priority {
  height: 24px;
  -webkit-appearance: none;
}
.edit__priority:focus {
  outline: none;
}
.edit__priority::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #fff9c4;
  border-radius: 1px;
}

.edit__priority.dark::-webkit-slider-runnable-track {
  background: #090088;
}

.edit__priority::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ff4747;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

.edit__priority.dark::-webkit-slider-thumb {
  background: #c2c9ff;
}

.edit__priority:focus::-webkit-slider-runnable-track {
  background: #fff9c4;
}

.edit__priority.dark:focus::-webkit-slider-runnable-track {
  background: #090088;
}

.edit__priority::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #fff9c4;
  border-radius: 1px;
}

.edit__priority.dark::-moz-range-track {
  background: #090088;
}

.edit__priority::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ff4747;
  cursor: pointer;
}

.edit__priority.dark::-moz-range-thumb {
  background: #c2c9ff;
}

.edit__priority::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
}

.edit__priority::-ms-fill-lower {
  background: #fff9c4;
  border-radius: 2px;
}

.edit__priority.dark::-ms-fill-lower {
  background: #090088;
}

.edit__priority::-ms-fill-upper {
  background: #fff9c4;
  border-radius: 2px;
}

.edit__priority.dark::-ms-fill-upper {
  background: #090088;
}

.edit__priority::-ms-thumb {
  margin-top: 1px;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ff4747;
  cursor: pointer;
}

.edit__priority.dark::-ms-thumb {
  background: #c2c9ff;
}

.edit__priority:focus::-ms-fill-lower {
  background: #fff9c4;
}

.edit__priority.dark:focus::-ms-fill-lower {
  background: #090088;
}

.edit__priority:focus::-ms-fill-upper {
  background: #fff9c4;
}

.edit__priority.dark:focus::-ms-fill-upper {
  background: #090088;
}

.edit__priority:hover {
  box-shadow: none;
}

.edit__priority.dark:hover {
  box-shadow: none;
}

.edit__priority:focus {
  box-shadow: none;
}

.edit__priority.dark:focus {
  box-shadow: none;
}

.edit__deadline {
  height: 22px;
}

.edit__deadline::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.edit__deadline.dark::-webkit-calendar-picker-indicator {
  background-color: #8c9afd;
  border: 2px solid #8c9afd;
  box-shadow: 0 0 2px 2px #8c9afd;
}

.edit__inputError {
  font-size: 14px;
  color: red;
  font-weight: normal;
  text-align: right;
  margin-top: 3px;
  display: block;
  width: 100%;
  text-align: center;
}

.edit__btn {
  margin-top: 2vh;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  border: 2px solid black;
  box-shadow: 0 0 2px black;
  border-radius: 10px;
  padding: 3px 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.edit__btn.dark {
  border: 2px solid #8c9afd;
  color: #8c9afd;
}

.edit__btn:hover {
  box-shadow: 0 0 5px black;
  background-color: #f9a825;
}

.edit__btn.dark:hover {
  box-shadow: 0 0 7px #8c9afd;
  background-color: #090088;
  color: #c2c9ff;
}

.edit__message {
  display: block;
  width: 100%;
  text-align: center;
}

i {
  font-size: 30px;
  color: black;
}

.edit__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: #ff4747;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 0 2px 1px #ff4747;
}

.edit__close.dark {
  background-color: rgb(206, 0, 0);
  box-shadow: 0 0 2px 1px rgb(206, 0, 0);
}

.edit__close:hover {
  box-shadow: 0 0 2px 2px #ff4747;
}

.edit__close.dark:hover {
  box-shadow: 0 0 2px 2px rgb(206, 0, 0), inset 0 0 1px 1px rgb(206, 0, 0);
}

.edit__closeIcon {
  font-size: 25px;
}

@media (max-width: 1149.98px) {
  .edit__modal {
    width: 35vw;
  }
}

@media (max-width: 979.98px) {
  .edit__modal {
    width: 44vw;
  }
}

@media (max-width: 809.98px) {
  .edit__modal {
    width: 52vw;
  }
}

@media (max-width: 649.98px) {
  .edit__modal {
    width: 65vw;
  }
}

@media (max-width: 539.98px) {
  .edit__modal {
    width: 79vw;
  }
}

@media (max-width: 429.98px) {
  .edit__modal {
    width: 96vw;
  }

  .edit__container {
    margin-left: 1vw;
  }

  .edit__modal {
    height: 70vh;
  }
}

@media (max-height: 619.98px) {
  .edit__modal {
    height: 65vh;
  }
}

@media (max-height: 559.98px) {
  .edit__modal {
    height: 70vh;
  }
}

@media (max-height: 499.98px) {
  .edit__modal {
    height: 80vh;
  }
}

@media (max-height: 429.98px) {
  .edit__modal {
    height: 80vh;
  }
}

@media (max-height: 389.98px) {
  .edit__modal {
    height: 90vh;
  }
}

@media (max-height: 339.98px) {
  .edit__modalTitle {
    margin-bottom: 3px;
  }

  .edit__container {
    margin-top: 1.5vh;
  }
}
