.language {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90px;
  height: 40px;
}

.language__flag {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  cursor: pointer;
}

.language__flag:hover {
  /* background-color: #ffeb3b;
  box-shadow: 0 0 2px 1px #ffeb3b; */
  background-color: #f9a825;
  box-shadow: 0 0 2px 1px #f9a825;
}

.language__flag.dark:hover {
  background-color: #8c9afd;
  box-shadow: 0 0 2px 1px #8c9afd;
}
