.login {
  color: black;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login.dark {
  color: #8c9afd;
}

.login__background {
  display: none;
}

.login__active {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.login__modal {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 40vh;
  background: rgb(255, 245, 157);
  background: linear-gradient(
    45deg,
    rgba(255, 214, 0, 1) 0%,
    rgba(255, 245, 157, 1) 100%
  );
  box-shadow: 0 0 2px 2px black;
  display: flex;
  flex-direction: column;
}

.login__modal.dark {
  background: rgb(3, 0, 46);
  background: linear-gradient(45deg, rgba(3, 0, 46, 1) 0%, rgba(1, 0, 87, 1) 100%);
  box-shadow: 0 0 2px 2px #8c9afd;
}

.login__modalTitle {
  text-align: center;
  color: black;
}

.login__modalTitle.dark {
  color: #8c9afd;
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.login__container {
  margin: 2vh 10px 0 30px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__label {
  flex-basis: 30%;
  font-weight: bold;
}

.login__input {
  flex-basis: 70%;
  background-color: transparent;
  border: 2px solid black;
  box-shadow: 0 0 2px black;
  border-radius: 10px;
  height: 20px;
  transition: 0.2s ease;
}

.login__input.dark {
  border: 2px solid #8c9afd;
  box-shadow: 0 0 2px #8c9afd;
  color: #8c9afd;
}

.login__input:hover {
  box-shadow: 0 0 5px black;
}

.login__input.dark:hover {
  box-shadow: 0 0 7px #8c9afd;
}

.login__input:focus {
  box-shadow: 0 0 5px black;
}

.login__input.dark:focus {
  box-shadow: 0 0 7px #8c9afd;
}

.login__inputError {
  font-size: 14px;
  color: red;
  font-weight: normal;
  text-align: right;
  margin-top: 3px;
  display: block;
  width: 100%;
  text-align: center;
}

.login__btn {
  margin-top: 2vh;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  border: 2px solid black;
  box-shadow: 0 0 2px black;
  border-radius: 10px;
  padding: 3px 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.login__btn.dark {
  border: 2px solid #8c9afd;
  color: #8c9afd;
}

.login__btn:hover {
  box-shadow: 0 0 5px black;
  background-color: #f9a825;
}

.login__btn.dark:hover {
  box-shadow: 0 0 7px #8c9afd;
  background-color: #090088;
  color: #c2c9ff;
}

.login__message {
  display: block;
  width: 100%;
  text-align: center;
}

i {
  font-size: 30px;
  color: black;
}

.login__closeIcon {
  font-size: 25px;
}

.login__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: #ff4747;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 0 2px 1px #ff4747;
}

.login__close.dark {
  background-color: rgb(206, 0, 0);
  box-shadow: 0 0 2px 1px rgb(206, 0, 0);
}

.login__close:hover {
  box-shadow: 0 0 2px 2px #ff4747;
}

.login__close.dark:hover {
  box-shadow: 0 0 2px 2px rgb(206, 0, 0), inset 0 0 1px 1px rgb(206, 0, 0);
}

@media (max-width: 499.98px) {
  .login {
    font-size: 23px;
  }
}

@media (max-width: 1149.98px) {
  .login__modal {
    width: 40vw;
  }
}

@media (max-width: 929.98px) {
  .login__modal {
    width: 50vw;
  }
}

@media (max-width: 679.98px) {
  .login__modal {
    width: 60vw;
  }
}

@media (max-width: 559.98px) {
  .login__modal {
    width: 96vw;
  }
}

@media (max-height: 599.98px) {
  .login__modal {
    height: 50vh;
  }
}

@media (max-height: 479.98px) {
  .login__modal {
    height: 60vh;
  }
}

@media (max-height: 379.98px) {
  .login__modal {
    height: 70vh;
  }
}
