.nav {
  flex-basis: 5%;
  display: flex;
  align-items: center;
  width: 98%;
  margin: 0 auto;
}

.nav__a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.nav__title {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo {
  width: 60%;
  height: 100%;
  display: flex;
  cursor: pointer;
}

.nav__logoImg {
  flex-basis: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__img {
  width: 40px;
  max-width: 100%;
}

.nav__logoBar {
  flex-basis: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__verticalBar {
  width: 50%;
  height: 80%;
  background-color: black;
}

.nav__verticalBar.dark {
  background-color: #8c9afd;
}

.nav__logoTitle {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
}

.nav__logoSignature {
  font-family: "Permanent Marker", cursive;
}

.nav__login {
  flex-basis: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.15s linear;
}

.nav__login:hover {
  background-color: #f9a825;
  box-shadow: 0 0 3px #f9a825;
}

.nav__login.dark:hover {
  background-color: #090088;
  box-shadow: 0 0 3px #090088;
}

.nav__login.dark:hover > .login {
  color: #c2c9ff;
}

.nav__logout {
  color: black;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav__logout.dark {
  color: #8c9afd;
}

.nav__logout.dark:hover {
  background-color: #090088;
  box-shadow: 0 0 3px #090088;
  color: #c2c9ff;
}

.nav__register {
  flex-basis: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.15s linear;
}

.nav__register:hover {
  background-color: #f9a825;
  box-shadow: 0 0 3px #f9a825;
}

.nav__register.dark:hover {
  background-color: #090088;
  box-shadow: 0 0 3px #090088;
}

.nav__register.dark:hover > .register {
  color: #c2c9ff;
}

@media (max-width: 499.98px) {
  .nav__logout {
    font-size: 23px;
  }
}

@media (max-width: 729.98px) {
  .nav__logo {
    width: 70%;
  }
}

@media (max-width: 569.98px) {
  .nav__logo {
    width: 80%;
  }

  .nav__logoBar {
    width: 10px;
  }

  .nav__logoTitle {
    margin-left: 5px;
  }
}

@media (max-width: 519.98px) {
  .nav__logo {
    width: 100%;
  }
}
