.task {
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto;
  margin-top: 2vh;
  display: flex;
}

.task__titleContainer {
  background-color: transparent;
  background-color: #fff9c4;
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  flex-grow: 1;
}

.task__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__h3 {
  margin: 0;
}

.task__description {
  text-align: center;
  font-size: 13px;
}

.task__priority {
  background-color: transparent;
  background-color: #fff9c4;
  flex-basis: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__beginDate {
  background-color: #fff9c4;
  flex-basis: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__deadline {
  box-sizing: border-box;
  background-color: #fff9c4;
  flex-basis: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__editButton {
  flex-basis: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__deleteButton {
  flex-basis: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__doneButton {
  flex-basis: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__dots {
  flex-basis: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__dotsButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #f57f17;
  box-shadow: 0 0 3px 1px #f57f17;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.task__dotsButton:hover {
  box-shadow: 0 0 3px 3px #f57f17;
}

.task__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 40vh;
  background: rgb(255, 245, 157);
  background: linear-gradient(
    45deg,
    rgba(255, 214, 0, 1) 0%,
    rgba(255, 245, 157, 1) 100%
  );
  box-shadow: 0 0 2px 2px black;
  display: flex;
  z-index: 3;
}

.task__background {
  display: none;
}

.task__active {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.task__close {
  align-self: flex-end;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: #ff4747;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 0 2px 1px #ff4747;
}

.task__close:hover {
  box-shadow: 0 0 2px 2px #ff4747;
}

.task__closeIcon {
  font-size: 25px;
}

.task__excedeed {
  background-color: rgba(255, 0, 0, 0.75);
}

.task__done {
  background-color: rgba(141, 255, 41, 1);
}

.task__deadlineIsClose {
  animation: deadlineClose 1.5s alternate infinite linear;
}

@media (max-width: 799.98px) {
  .task__beginDate,
  .task__deadline {
    flex-basis: 15%;
  }

  .task__modal {
    display: flex;
    flex-direction: column;
  }

  .task__editButton {
    flex-grow: 1;
  }

  .task__deleteButtonModal {
    flex-basis: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .task__doneButton {
    flex-grow: 1;
  }
}

@media (max-width: 649.98px) {
  .task__beginDate,
  .task__deadline {
    flex-basis: 17%;
  }

  .task__priority {
    flex-basis: 5%;
  }

  .task__dots {
    flex-basis: 7%;
  }

  .task__editButton {
    height: 25%;
  }
}

@media (max-width: 579.98px) {
  .task__modal {
    width: 30vw;
  }
}

@media (max-width: 549.98px) {
  .task {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .task__titleContainer {
    flex-basis: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .task__excedeed {
    box-shadow: none;
  }

  .task__done {
    box-shadow: none;
  }

  .task__dots {
    flex-basis: 9%;
  }

  .task__dotsButton {
    font-size: 20px;
    border-radius: 0;
    width: 100%;
    height: auto;
  }

  .task__deleteButton {
    flex-basis: 9%;
  }

  .task__priority {
    flex-basis: 9%;
  }

  .task__beginDate,
  .task__deadline {
    flex-basis: 40%;
  }
}

@media (max-width: 349.98px) {
  .task__modal {
    width: 40vw;
  }
}

@media (max-height: 579.98px) {
  .task__modal {
    height: 60vh;
  }
}

@media (max-height: 449.98px) {
  .task__modal {
    height: 70vh;
  }
}

@keyframes deadlineClose {
  from {
    border: 2px solid transparent;
  }

  to {
    border: 2px solid rgba(255, 0, 0, 0.75);
    box-shadow: 0 0 2px 1px rgba(255, 0, 0, 0.75);
  }
}
