.task {
  margin-top: 2vh;
  background-color: lightgray;
  display: flex;
}

.task__done {
  background-color: greenyellow;
}

.task__titleContainer {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.task__title {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__h3 {
  margin: 0;
}

.task__priority {
  background-color: transparent;
  flex-basis: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__beginDate {
  background-color: rgba(0, 0, 0, 0.3);
  flex-basis: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__deadline {
  background-color: transparent;
  flex-basis: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__editButton {
  background-color: rgba(0, 0, 0, 0.3);
  flex-basis: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__deleteButton {
  background-color: rgba(177, 0, 0, 0.3);
  flex-basis: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__doneButton {
  background-color: rgba(0, 0, 0, 0.3);
  flex-basis: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}
